<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Tênis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">Marca</ion-label>
    <ion-select [(ngModel)]="form.marca" placeholder="---------">
      <ion-select-option *ngFor="let m of marcas" [value]="m.id">{{ m.nome }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="form.nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Preço</ion-label>
    <ion-select [(ngModel)]="form.preco_currency" slot="start">
      <ion-select-option *ngFor="let m of moedas" [value]="m">{{ m }}</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="form.preco" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tamanho</ion-label>
    <ion-select [(ngModel)]="form.tamanho" placeholder="---------">
      <ion-select-option *ngFor="let t of tamanhos" [value]="t">{{ t }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Categoria</ion-label>
    <ion-select [(ngModel)]="form.categoria" placeholder="---------">
      <ion-select-option *ngFor="let c of categorias" [value]="c.id">{{ c.nome }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ano de lançamento</ion-label>
    <ion-input [(ngModel)]="form.ano_lancamento" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Foto</ion-label>
    <input type="file" accept="image/*" (change)="onFotoSelecionada($event)" style="margin-top: 8px;" />
  </ion-item>

  <div style="padding: 16px;">
    <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
  </div>

</ion-content>